@import url("https://fonts.googleapis.com/css?family=Merriweather:300,400,900&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*img{
    width: 100%;
}*/
body {
  font-family: "Merriweather", serif;
  font-size: 1rem;
}

footer {
  background-color: whitesmoke;
}

.newsletter {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Merriweather", serif;
  margin: 10px;
}

.boton-suscribete {
  background-color: coral;
  padding: 5px 20px;
  color: white;
  font-family: "Merriweather", serif;
  font-size: 1rem;
}

.altura-caja {
  padding: 5px;
}

.derechos-reservados {
  display: flex;
  justify-content: center;
}

.foto-ancho {
  width: 235px;
}

footer {
  padding: 20px;
}

.contenedor {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

/*SMARTPHONE*/
.col-12 {
  grid-column: span 12;
}

.col-11 {
  grid-column: span 11;
}

.col-10 {
  grid-column: span 10;
}

.col-9 {
  grid-column: span 9;
}

.col-8 {
  grid-column: span 8;
}

.col-7 {
  grid-column: span 7;
}

.col-6 {
  grid-column: span 6;
}

.col-5 {
  grid-column: span 5;
}

.col-4 {
  grid-column: span 4;
}

.col-3 {
  grid-column: span 3;
}

.col-2 {
  grid-column: span 2;
}

.col-1 {
  grid-column: span 1;
}

@media (min-width: 576px) {
  .contenedor {
    width: 540px;
  }

  .d-sm-none {
    display: none;
  }

  .d-sm-block {
    display: block;
  }

  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media (min-width: 768px) {
  .contenedor {
    width: 750px;
  }

  .d-md-none {
    display: none;
  }

  .d-md-block {
    display: block;
  }

  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media (min-width: 992px) {
  .contenedor {
    width: 970px;
  }

  .d-lg-none {
    display: none;
  }

  .d-lg-block {
    display: block;
  }

  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
@media (min-width: 1200px) {
  .contenedor {
    width: 1170px;
  }

  .d-xl-none {
    display: none;
  }

  .d-xl-block {
    display: block;
  }

  .col-xl-12 {
    grid-column: span 12;
  }

  .col-xl-11 {
    grid-column: span 11;
  }

  .col-xl-10 {
    grid-column: span 10;
  }

  .col-xl-9 {
    grid-column: span 9;
  }

  .col-xl-8 {
    grid-column: span 8;
  }

  .col-xl-7 {
    grid-column: span 7;
  }

  .col-xl-6 {
    grid-column: span 6;
  }

  .col-xl-5 {
    grid-column: span 5;
  }

  .col-xl-4 {
    grid-column: span 4;
  }

  .col-xl-3 {
    grid-column: span 3;
  }

  .col-xl-2 {
    grid-column: span 2;
  }

  .col-xl-1 {
    grid-column: span 1;
  }
}
/*ESTILO DE REVISTA
* {
    box-sizing: border-box;
}

body {
    font-family: monospace;
}

.contenedor {
    width: 960px;
    margin: 0 auto;
}

.menu {
    width: 960px;
    padding: 10px;
    border-bottom: 1px solid gray
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}

.nav {
    display: inline-block;
    width: 840px;
    text-align: right;
}



.nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
}

.input-menu {
    border-radius: 30px;
}

.contenido {
    width: 960px;
    margin: 0 auto;
}

.listad-noticias {
    width: 700px;
    float: left;
}

.noticia {
    width: 210px;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
}

.cuerpo img {
    width: 210px;
    height: 300px;
}

.cuerpo p {
    padding: 5px 10px;
}

.listado-izquierdo {
    width: 220px;
    float: right;
}

.cabecera-listado {
    width: 220px;
    border-bottom: 1px solid gray;
}

.tags {
    border-bottom: 1px solid gray;
}

.tags ul {
    padding: 0;
    list-style: none;
}

.tags ul li {
    padding: 2px 4px;
    background-color: steelblue;
    margin-right: 1px;
    color: white;
}

.noticias-destacadas {
    margin-bottom: 50px;
}

.noticias-destacadas img {
    width: 220px;
    height: 200px;
}


.newsletter {
    width: 960px;
    background-color: #f2f4f5;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.newsletter h2 {
    font-size: 24px
}

.group input,
.group button {
    display: inline-block;
    border-width: 0;
    font-size: 13px;
    padding: 5px 10px;

}

.group button {
    background-color: coral;
    color: white;
}

.footer {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}*/
main {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.noticia {
  max-width: 300px;
  width: 100%;
}
.noticia .cabecera {
  width: 100%;
}
.noticia .cuerpo {
  width: 100%;
}
.noticia__img {
  background-image: url("https://picsum.photos/200/300?random=1");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 150px;
}

@media (min-width: 768px) {
  .noticia {
    max-width: 300px;
    width: 30%;
  }
  .noticia__img {
    width: 100%;
    height: 300px;
  }
}
nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}
nav h3 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.5 rem;
}
nav li {
  display: inline-block;
  padding: 0.5rem;
}
nav li a {
  text-decoration: none;
  color: #333;
  font-size: 0.75rem;
}
nav li a:hover {
  color: white;
  text-decoration: none;
}
nav li:last-child {
  padding-right: 0;
}

aside {
  background-color: white;
}

.lista-tags {
  display: flex;
  justify-content: space-around;
}

.botones-tags {
  background-color: cornflowerblue;
  padding: 5px 10px;
  margin: 0;
  color: white;
}

.titulo-tag {
  margin-left: 5px;
}

.listado-izquierdo {
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
