aside{
    background-color: white;
    
}

.lista-tags{
    display: flex;
    justify-content: space-around;
}

.botones-tags{
    background-color: cornflowerblue;
    padding: 5px 10px;
    margin: 0;
    color: white;
}

.titulo-tag{
    margin-left: 5px;;
}

.listado-izquierdo{
    justify-content: center;
}

